extend layout

block content
        #body
          #content
            ul#article
              li
                img(src='images/img_7.jpg', width=550)
                h3 We Have Plenty Of Fun For Everyone!
                p
                  b
                    | The Wildbunch was opened for people to have fun.
                    | The Wildbunch was opened for people to have fun.
                    | The Wildbunch was opened for people to have fun.
                    | The Wildbunch was opened for people to have fun.
                    | The Wildbunch was opened for people to have fun.
                    | The Wildbunch was opened for people to have fun.
                    | The Wildbunch was opened for people to have fun.
              li
                img(src='images/hotdogs.jpg', width=550)
                h3 We have a cafe and restaurant
                p
                  b
                    | If you want to have a nice meal you can do so at our cafe. Looking for somewhere to relax and enjoy some good times with friends and family.
                    | If you want to have a nice meal you can do so at our cafe. Looking for somewhere to relax and enjoy some good times with friends and family.
                    | If you want to have a nice meal you can do so at our cafe. Looking for somewhere to relax and enjoy some good times with friends and family.
                    | If you want to have a nice meal you can do so at our cafe. Looking for somewhere to relax and enjoy some good times with friends and family.
              li
                img(src='images/img_17.jpg', width=550)
                h3 We have a shop
                p
                  b
                    | If you want to have a nice meal you can do so at our cafe. Looking for somewhere to relax and enjoy some good times with friends and family.
                    | If you want to have a nice meal you can do so at our cafe. Looking for somewhere to relax and enjoy some good times with friends and family.
                    | If you want to have a nice meal you can do so at our cafe. Looking for somewhere to relax and enjoy some good times with friends and family.
                    | If you want to have a nice meal you can do so at our cafe. Looking for somewhere to relax and enjoy some good times with friends and family.
            #sidebar
              div
                h3 quick info
                p
                  br
                  b Park Time
                  br
                  span 1pm to 6pm daily

                p
                  br
                  b Phone
                  br
                  span 0906 448 5429; 0818 455 7559

                p
                  br
                  b Address
                  br
                  span Behind Waye Foundation, Doi, Du
                  br
                  span Jos
                  br
                  span Plateau, Nigeria

                p
                  br
                  b Email
                  br
                  a(href='mailto:thewildbunchng@gmail.com') thewildbunchng@gmail.com
