extend layout

block content
        #body
          #blog
            ul
              li
                span
                  a(href='#') December 2016
                  a(href='#')  by The Wildbunch
                h3
                  a(href='#') The Wildbunch has opened
                div
                  a.figure1(href='#')
                    img(src='images/img_2.jpg', alt='', width=267)
                  p
                    | The Wildbunch Amusement Park opens today. We hope that you join us to have fun.
                    | In this season of celebration The Wildbunch is the go to place for you to enjoy yourself with friends and family.
                    | Come and spend a day with us, and we promise you, that you wont regret it.
                    | The Wildbunch Amusement Park opens today. We hope that you join us to have fun.
                    | In this season of celebration The Wildbunch is the go to place for you to enjoy yourself with friends and family.
                    | Come and spend a day with us, and we promise you, that you wont regret it.
              li
                span
                  a(href='#') January 2017
                  a(href='#')  by The Wildbunch
                h3
                  a(href='#') Thank you for coming to The Wildbunch
                div
                  a.figure2(href='#')
                    img(src='images/img_4.jpg', width=250, alt='')
                  p
                    | We hope that you had a fun time at The Wildbunch during our Christmas and New Years' Festivities.
                    | Come and join us again next time.
                    | Thanks for coming.
                    | We hope that you had a fun time at The Wildbunch during our Christmas and New Years' Festivities.
                    | Come and join us again next time.
                    | Thanks for coming.
                    | We hope that you had a fun time at The Wildbunch during our Christmas and New Years' Festivities.
                    | Come and join us again next time.
                    | Thanks for coming.
              li
                span
                  a(href='#') November 2016
                  a(href='#')  by The Wildbunch
                h3
                  a(href='#') The Wildbunch will soon be opening
                div
                  a.figure1(href='#')
                    img(src='images/img_5.jpg', alt='', width=267)
                  p
                    | The Wildbunch Amusement Park will be opening next month. We hope that you will join us to have fun.
                    | In this coming season of celebration The Wildbunch Amusement Park will be go to place for you to enjoy yourself with friends and family.
                    | Come and spend a day with us, and we promise you, that you wont regret it.
                    | The Wildbunch Amusement Park will be opening next month. We hope that you will join us to have fun.
                    | In this coming season of celebration The Wildbunch Amusement Park will be go to place for you to enjoy yourself with friends and family.
                    | Come and spend a day with us, and we promise you, that you wont regret it.
            #sidebar
              .recent
                h3 recent post
                ul
                  li
                    span
                      a(href='#') January 2017
                      a(href='#')  by The Wildbunch
                    a(href='#') Thank you for coming.
                  li
                    span
                      a(href='#') December 2016
                      a(href='#')  by The Wildbunch
                    a(href='#') The Wildbunch has opened.
                  li
                    span
                      a(href='#') November 2016
                      a(href='#')  by The Wildbunch
                    a(href='#') The Wildbunch will soon be opening.
              .archive
                h3 archive
                ul
                  li
                    a(href='#') The Wildbunch will soon be opening.
                  li
                    a(href='#') The Wildbunch has opened.
                  li
                    a(href='#') Thank you for coming.
