extend layout

block content
        #body
          #content
            .section
              h2 Are you looking for your next thrilling adventure
              ul
                li
                  a(href='#')
                    img(src='images/img_10.jpg', width=258, alt='')
                li
                  a(href='#')
                    img(src='images/img_23.jpg', width=258, alt='')
                li
                  a(href='#')
                    img(src='images/img_22.jpg', width=258, alt='')
              p
                | At The Wildbunch Amusement Park everyone can relax and enjoy themselves. There's plenty fun for mommies, daddies, children, aunties and uncles
                | At The Wildbunch Amusement Park everyone can relax and enjoy themselves. There's plenty fun for mommies, daddies, children, aunties and uncles
                | At The Wildbunch Amusement Park everyone can relax and enjoy themselves. There's plenty fun for mommies, daddies, children, aunties and uncles
            .gallery
              ul
                li
                  a(href='#')
                    img(src='images/img_20.jpg', width=396, alt='')
                  span
                    a(href='#') Bouncing castles for bouncing fun
                li
                  a(href='#')
                    img(src='images/img_13.jpg', width=396, alt='')
                  span
                    a(href='#') Even the parents have fun
              p
                | At The Wildbunch Amusement Park everyone can relax and enjoy themselves.
                | At The Wildbunch Amusement Park everyone can relax and enjoy themselves. There's plenty fun for mommies, daddies, children, aunties and uncles
                | At The Wildbunch Amusement Park everyone can relax and enjoy themselves. There's plenty fun for mommies, daddies, children, aunties and uncles
                | At The Wildbunch Amusement Park everyone can relax and enjoy themselves. There's plenty fun for mommies, daddies, children, aunties and uncles
