extend layout

block content
        #body
          #content
            h1 this is just a place holder for your text content
            ul.tickets
              li
                h3 Children (0-12)
                p
                  | This is the price of a ticket for children between the ages of 0 and 12
                ul
                  li
                    span 1 ticket
                    span: b &#x20A6; 500
                  li
                    span 2 tickets
                    span: b &#x20A6; 900
                  li
                    span 3+ tickets
                    span: b &#x20A6; 400 per ticket
              li
                h3 Teenagers (12-19) & Students
                p
                  | This is the price of a ticket for teenagers between the ages of 13 and 19 as well as students
                ul
                  li
                    span 1 ticket
                    span: b &#x20A6; 750
                  li
                    span 2 tickets
                    span: b &#x20A6; 1300
                  li
                    span 3+ tickets
                    span: b &#x20A6; 600 per ticket
              li
                h3 Adults (20+)
                p
                  | This is the price of a ticket for adults
                ul
                  li
                    span 1 ticket
                    span: b &#x20A6; 1000
                  li
                    span 2 tickets
                    span: b &#x20A6; 1800
                  li
                    span 3+ tickets
                    span: b &#x20A6; 800 per ticket
